{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
          <p style="color: red;">Authentication failed. Please check your username and password.</p>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required autofocus style="width: 200px;">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required style="width: 200px;">
        <button type="submit">Login</button>
      </form>

{% endblock %}