{% extends 'base.html' %}


{% block content %}
  <h1> Update Template </h1>
  <div style="display: flex; flex-direction: row;">

    <div>
      <form method="post" action="{% url 'update_ticket' %}">
        {% csrf_token %}
        <label for="search_ka">Search for KA: </label>
        <input type="text" id="search_ka" name="search_ka">
        <input type="hidden" id="searched" name="searched" value="searched">
        <button type="submit" id="search_ka_button">Search</button>

        <p>{{ nonexistant }}</p>
      </form>
      
    </div>

    <form method="post" action="{% url 'update_ticket' %}">
      {% csrf_token %}

      {% load crispy_forms_tags %}

      {{ actions_form|crispy }}
      {{ ticket_form|crispy }}

      <input type="hidden" id="updated" name="updated" value="updated">

      <button type="submit">Update Template</button>
    </form>
  </div>
  {% endblock %}
