{% extends 'base.html' %}


{% block content %}
  <h1> Update Template </h1>
  
  <div style="display: flex; flex-direction: row;">

    <div>
      <form method="post" action="{% url 'update_ticket' %}">
        {% csrf_token %}
        <label for="search_ka">Search for KA: </label>
        <input type="text" id="search_ka" name="search_ka">
        <input type="hidden" id="searched" name="searched" value="searched">
        <button type="submit" id="search_ka_button">Search</button>

        <p>{{ nonexistant }}</p>
        <div id="search_results">
          <li>oopsue</li>
          <li>ddd</li>
        </div>
      </form>
      
    </div>

    <form method="post" action="{% url 'update_ticket' %}">
      <p style="width: 100%; margin-left:10%; margin-top: 0%">Enter {0} where name should be.  e.g.  'Name: Bob' would be Name: {0}</p>
    <p style="width: 100%; margin-left:10%; margin-top: 0%">Enter {1} where store number should be.  e.g.  'remoted into wpaf8523-x1' would be 'remoted into wpaf{1}-x1'</p>
      
      {% csrf_token %}

      {% load crispy_forms_tags %}

      {{ actions_form|crispy }}
      {{ ticket_form|crispy }}

      <input type="hidden" id="updated" name="updated" value="updated">

      <button type="submit">Update Template</button>
    </form>
  </div>
  {% endblock %}
